/dts-v1/;
#include <st/f1/stm32f103X8.dtsi>

/ {
	model = "Capsoid";
	compatible = "st,stm32f103c8";

	chosen {
		zephyr,console = &usart2;
		zephyr,shell-uart = &usart2;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "gpio-leds";
		led: led {
			gpios = <&gpiob 12 GPIO_INT_ACTIVE_HIGH>;
			label = "LD";
		};
	};

	aliases {
		led0 = &led;
	};
};

&usart1 {
	current-speed = <115200>;
	status = "okay";
};

&usart2 {
	current-speed = <115200>;
	status = "okay";
};

&usart3 {
	current-speed = <115200>;
	status = "okay";
};

&i2c1 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

&i2c2 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

&spi1 {
	status = "okay";
};

&spi2 {
	status = "okay";
    /* Why second slave select??? */
    bme280@2 {
        compatible = "bosch,bme280";
        reg = <2>;
        spi-max-frequency = <10000000>;
        label = "BME280";
        status = "okay";
    };

};

&timers1 {
	status = "okay";

	pwm {
		status = "okay";
	};
};

&usb {
	status = "okay";
};

